<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<div class="container">
    <!--导航栏-->
    <div th:fragment="commonNav" class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="#">
                    <img src="/assets/img/sanbuzhi.png" width="111" height="30" alt="blog logo" /></a>
                <div class="nav-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a th:href="@{/}">首页</a></li>
                        <li><a th:href="@{/special}">专题</a></li>
                        <li><a th:href="@{#}">友链</a></li>
                        <li><a th:href="@{/file}">归档</a></li>
                        <li class="dropdown">
                            <a href="##" data-toggle="dropdown" class="dropdown-toggle">关于<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{/}">个人</a></li>
                                <li class="disabled"><a th:href="@{/}">发展</a></li>
                            </ul>
                        </li>
                    </ul>
                    <p class="navbar-text pull-right">Logged in as
                        <a href="#">username</a></p>
                </div>
                <!--/.nav-collapse --></div>
        </div>
    </div>

    <!--公共分页栏-->
    <div class="diy-bottom" th:fragment="pagebar">
        <!--底部固定只能自定义css-->
        <style>
            .diy-bottom{position:fixed;left:0px;bottom: 0px;width:100%;height:75px;background-color:lightgray;z-index:999;}
        </style>
        <div style="margin: 0px auto; display: table;">
            <div class="container-fluid" style="text-align: center">
                <strong>当前第 [[${pageInfo.pageNum}]]页,共 [[${pageInfo.pages}]] 页。一共 [[${pageInfo.total}]] 条记录</strong>
                <ul class="pagination">
                    <!--首页-->
                    <li>
                        <a th:href="@{/blog/page/1}">首页</a>
                    </li>
                    <li th:if="${pageInfo.hasPreviousPage}">
                        <a th:href="'/blog/page/'+${pageInfo.prePage}">
                            &laquo;
                        </a>
                    </li>
                    <!--遍历条数-->
                    <li th:each="nav:${pageInfo.navigatepageNums}">
                        <a th:href="'/blog/page/'+${nav}" th:text="${nav}" th:if="${nav != pageInfo.pageNum}"></a>
                    </li>
                    <li class="next" th:if="${pageInfo.hasNextPage}">
                        <a th:href="'/blog/page/'+${pageInfo.nextPage}">
                            &raquo;
                        </a>
                    </li>
                    <!--尾页-->
                    <li>
                        <a th:href="'/blog/page/'+${pageInfo.pages}">尾页</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!--前后页-->
    <div class="diy-bottom" th:fragment="preBackPageBar">
        <!--底部固定只能自定义css-->
        <style>
            .diy-bottom{position:fixed;left:0px;bottom: 0px;width:100%;height:75px;background-color: lightgray;z-index:999;}
        </style>
        <div style="margin: 0px auto; display: table;">
            <div class="container-fluid" style="text-align: center">
                <ul class="pager">
                    <li class="previous disabled">
                        <a th:if="${articlepre ne null}" th:href="@{'/blog/content/'+ ${articlepre.cid}}" th:text="'←'+${articlepre.title}"></a>
                    </li>
                    <li class="next">
                        <a th:if="${articleback ne null}" th:href="@{'/blog/content/'+ ${articleback.cid}}" th:text="${articleback.title}+'→'"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
</body>