<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sanbuzhi.dao.ContentTagDao">
    <!--新增文章类型-->
    <insert id="addTag" parameterType="com.sanbuzhi.pojo.ContentTagDomain">
        insert into sb_blog_200725.t_contents_tag
        <trim prefix="(" suffix=")" suffixOverrides=",">
            name,numbers
        </trim>
        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            #{name, jdbcType=VARCHAR}, '1',
        </trim>
    </insert>

    <!--删除文章类型-->
    <delete id="deleteTag">
        delete from sb_blog_200725.t_contents_tag
        where ctagid = #{ctagid}
    </delete>

    <!--更新文章类型-->
    <update id="updateTag" parameterType="com.sanbuzhi.pojo.ContentTagDomain">
        update sb_blog_200725.t_contents_tag
        <set>
            <if test="name != null">
                name=#{name, jdbcType=VARCHAR},
            </if>
            <if test="numbers != null">
                numbers=#{numbers, jdbcType=INTEGER},
            </if>
        </set>
        where ctagid = #{ctagid, jdbcType=INTEGER}
    </update>

    <!--根据类型id查找类型-->
    <select id="searchTagById" resultType="com.sanbuzhi.pojo.ContentTagDomain">
        select * from
        sb_blog_200725.t_contents_tag as ct
        where ct.ctagid = #{ctagid, jdbcType=INTEGER}
    </select>

    <!--根据类型名称查找类型-->
    <select id="searchTagByName" resultType="com.sanbuzhi.pojo.ContentTagDomain">
        select * from
        sb_blog_200725.t_contents_tag as ct
        where ct.name = #{ctagname, jdbcType=VARCHAR}
    </select>

    <!--给某文章类型对应的文章数量=>number+1-->
    <update id="addNumber">
        update sb_blog_200725.t_contents_tag
        set numbers=numbers + 1
        where ctagid = #{ctagid, jdbcType=INTEGER}
    </update>

    <!--给某文章类型对应的文章数量=>number-1-->
    <update id="subNumber">
        update sb_blog_200725.t_contents_tag
        set numbers=numbers - 1
        where ctagid = #{ctagid, jdbcType=INTEGER}
    </update>

    <!--获取所有的标签-->
    <select id="getAllTags" resultType="com.sanbuzhi.pojo.ContentTagDomain">
        select * from sb_blog_200725.t_contents_tag
    </select>
</mapper>