<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sanbuzhi.dao.ContentDao">

    <!-- 根据主键编号获取文章信息 -->
    <select id="getArticleById" resultType="com.sanbuzhi.pojo.ContentDomain">
        select * from
        sb_blog_200725.t_contents as c
        where c.cid = #{cid, jdbcType=INTEGER}
    </select>

    <!-- 根据条件查询文章 -->
    <select id="getArticlesByCond" resultType="com.sanbuzhi.pojo.ContentDomain"
            parameterType="com.sanbuzhi.pojo_short.cond.ContentCond">
        select * from
        sb_blog_200725.t_contents as c
        <where>
            <if test="status != null">
                AND c.status = #{status, jdbcType=VARCHAR}
            </if>
            <if test="title != null">
                AND c.title LIKE CONCAT('%',#{title, jdbcType=VARCHAR},'%')
            </if>
            <if test="content != null">
                AND c.content LIKE CONCAT('%',#{content, jdbcType=VARCHAR},'%')
            </if>
            <if test="startTime != null">
                AND c.created &gt;= #{startTime, jdbcType=INTEGER}
            </if>
            <if test="endTime != null">
                AND c.created &lt;= #{endTime, jdbcType=INTEGER}
            </if>
        </where>
        ORDER BY c.created DESC
    </select>

    <!--获取归档数据-->
    <select id="getArchive" resultType="com.sanbuzhi.pojo_short.ArchiveDto"
            parameterType="com.sanbuzhi.pojo_short.cond.ContentCond">
        select
        FROM_UNIXTIME(created, '%Y年%m月') as date,
        count(*)                         as count
        from
        sb_blog_200725.t_contents as c
        <where>
            status = 'publish'
            <if test="startTime != null">
                AND c.created &gt;= #{startTime, jdbcType=INTEGER}
            </if>
            <if test="endTime != null">
                AND c.created &lt;= #{endTime, jdbcType=INTEGER}
            </if>
        </where>
        group by date
        order by date desc
    </select>

    <!--获取文章总数-->
    <select id="getArticleCount" resultType="java.lang.Long">
        SELECT count(*) from sb_blog_200725.t_contents
    </select>

    <!--获取最近的文章-->
    <select id="getRecentlyArticle" resultType="com.sanbuzhi.pojo.ContentDomain">
        SELECT *,created as created FROM
        sb_blog_200725.t_contents
        ORDER BY created DESC
    </select>

    <!-- 搜索文章-模糊 -->
    <select id="searchArticle" resultType="com.sanbuzhi.pojo.ContentDomain">
        SELECT * FROM
        sb_blog_200725.t_contents as c
        <where>
            c.title LIKE CONCAT('%',#{param, jdbcType=VARCHAR},'%')
            OR
            c.content LIKE CONCAT('%',#{param, jdbcType=VARCHAR},'%')
        </where>
    </select>

    <!-- 添加文章 -->
    <sql id="key">
        <trim suffixOverrides=",">
            <if test="title!=null">
                title,
            </if>
            <if test="titlePic!=null">
                titlePic,
            </if>
            <if test="slug!=null">
                slug,
            </if>
            <if test="created!=null">
                created,
            </if>
            <if test="content!=null">
                content,
            </if>
            <if test="authorName!=null">
                authorName,
            </if>
            <if test="status!=null">
                status,
            </if>
            <if test="clicks!=null">
                clicks,
            </if>
            <if test="commentsNum!=null">
                commentsNum,
            </if>
            <if test="allowComment!=null">
                allowComment,
            </if>
        </trim>
    </sql>
    <sql id="value">
        <trim suffixOverrides=",">
            <if test="title!=null">
                #{title, jdbcType=LONGVARCHAR},
            </if>
            <if test="titlePic!=null">
                #{titlePic,jdbcType=VARCHAR},
            </if>
            <if test="slug!=null">
                #{slug, jdbcType=LONGVARCHAR},
            </if>
            <if test="created!=null">
                #{created, jdbcType=VARCHAR},
            </if>
            <if test="content!=null">
                #{content, jdbcType=LONGVARCHAR},
            </if>
            <if test="authorName!=null">
                #{authorName, jdbcType=INTEGER},
            </if>
            <if test="status!=null">
                #{status, jdbcType=VARCHAR},
            </if><if test="clicks!=null">
                #{clicks, jdbcType=INTEGER},
            </if><if test="commentsNum!=null">
                #{commentsNum, jdbcType=INTEGER},
            </if><if test="allowComment!=null">
                #{allowComment, jdbcType=INTEGER},
            </if>
        </trim>
    </sql>
    <insert id="addArticle" parameterType="com.sanbuzhi.pojo.ContentDomain" useGeneratedKeys="true" keyProperty="cid">
        INSERT INTO sb_blog_200725.t_contents
        (<include refid="key"/>)
        value
        (<include refid="value"/>)
    </insert>


    <!-- 删除文章 -->
    <delete id="deleteArticleById">
        DELETE FROM sb_blog_200725.t_contents
        WHERE cid = #{cid, jdbcType=INTEGER}
    </delete>

    <!-- 更新文章信息 -->
    <update id="updateArticleById" parameterType="com.sanbuzhi.pojo.ContentDomain">
        UPDATE sb_blog_200725.t_contents
        <set>
            <if test="title != null">
                title = #{title, jdbcType=VARCHAR},
            </if>
            <if test="titlePic != null">
                titlePic = #{titlePic, jdbcType=VARCHAR},
            </if>
            <if test="slug != null">
                slug = #{slug, jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content, jdbcType=LONGVARCHAR},
            </if>
                modified = UNIX_TIMESTAMP(NOW()),
            <if test="status != null">
                status = #{status, jdbcType=VARCHAR},
            </if>
            <if test="clicks != null">
                hits = #{hits, jdbcType=INTEGER},
            </if>
            <if test="commentsNum != null">
                commentsNum = #{commentsNum, jdbcType=INTEGER},
            </if>
            <if test="allowComment != null">
                allowComment = #{allowComment, jdbcType=INTEGER},
            </if>
        </set>
        WHERE cid = #{cid, jdbcType=INTEGER}
    </update>

    <update id="updateArticleCommentCountById" >
        UPDATE sb_blog_200725.t_contents
        SET commentsNum = commentsNum+1
        WHERE cid = #{cid, jdbcType=INTEGER}
    </update>

    <update id="updateArticleHitCountById">
        update sb_blog_200725.t_contents
        set clicks = clicks + 1
        where cid = #{cid, jdbcType=INTEGER}
    </update>


</mapper>